In [41]:
import pandas as pd
import os

In [42]:
pasta = r'C:\Users\leti_\OneDrive\Documentos\python_env_app\MTR'
arquivos = [ fname for fname in os.listdir(pasta) if fname.endswith('.csv')]

#df = pd.read_csv(r"C:\Users\leti_\OneDrive\Documentos\python_env_app\MTR\dados_MTR.csv")

# Criando DataFrame
df = []

for arq in arquivos:
    temp = pd.read_csv(os.path.join(pasta, arq), sep=';')
    df.append(temp)

# Concatenando em um DataFrame
df = pd.concat(df, ignore_index=True)

df.head()

         Data    Residuo  Quantidade Tecnologia  Unnamed: 4  Unnamed: 5
0  2018-09-19  180401(*)        0.00     Aterro         NaN         NaN
1  2018-09-19  180111(*)        0.21     Aterro         NaN         NaN
2  2018-09-20  180401(*)        0.00     Aterro         NaN         NaN
3  2018-09-20  180111(*)        0.21     Aterro         NaN         NaN
4  2018-09-20  180401(*)        0.00     Aterro         NaN         NaN

In [43]:
# 2. Converter a coluna de data
# (troque 'data' pelo nome exato da coluna de datas da sua planilha)
df['Data'] = pd.to_datetime(df['Data'])

# 3. Criar colunas de ano e mês
df['ano'] = df['Data'].dt.year
df['mes'] = df['Data'].dt.month

df.head()

,Data,Residuo,Quantidade,Tecnologia,Unnamed: 4,Unnamed: 5,ano,mes
0,2018-09-19,180401(*),0.00,Aterro,NaN,NaN,2018,9
1,2018-09-19,180111(*),0.21,Aterro,NaN,NaN,2018,9
2,2018-09-20,180401(*),0.00,Aterro,NaN,NaN,2018,9
3,2018-09-20,180111(*),0.21,Aterro,NaN,NaN,2018,9
4,2018-09-20,180401(*),0.00,Aterro,NaN,NaN,2018,9

In [44]:
# 4. Fazer a soma mensal por tipo de resíduo
# (troque 'residuo' e 'quantidade' pelos nomes das suas colunas)
#soma_mensal = df.groupby(['ano', 'mes', 'Resíduo'])['Quantidade'].sum().reset_index()

# 5. (opcional) Ordenar o resultado
#soma_mensal = soma_mensal.sort_values(['ano', 'mes'])

# Mostrar o resultado
#print(soma_mensal)

In [22]:
#soma_mensal = soma_mensal.rename(columns={'Quantidade': 'Soma Mensal'})
#print(soma_mensal)

      ano  mes    Resíduo  Soma Mensal
0    2018    9  180111(*)         0.12
1    2018    9  180401(*)         0.00
2    2018   10  180111(*)         0.28
3    2018   10  180401(*)         0.00
4    2018   11  180111(*)         0.47
..    ...  ...        ...          ...
186  2025    9  180111(*)         0.04
187  2025    9  180205(*)         0.00
188  2025    9     GrupoE         0.00
189  2025   10  150110(*)         0.01
190  2025   10  180111(*)         0.11

[191 rows x 4 columns]

In [21]:
#df.to_csv(r"C:\Users\leti_\OneDrive\Documentos\python_env_app\outputs"+'/'+'MTR_Clinica.csv')

In [46]:
# 4. Fazer a soma mensal por tipo de resíduo
#soma_mensal = df.groupby(['ano', 'mes', 'Residuo'])['Quantidade'].sum().reset_index()

# 5. (Opcional) ordenar para ficar organizado
#soma_mensal = soma_mensal.sort_values(['ano', 'mes', 'Residuo'])

# 6. Mostrar o resultado
#print(soma_mensal)


# 4. Fazer a soma mensal por tipo de resíduo
soma_mensal = (
    df.groupby(['ano', 'Residuo'], as_index=False)['Quantidade']
      .sum()
)

# 5. (opcional) ordenar para ficar mais legível
soma_mensal = soma_mensal.sort_values(['ano', 'Residuo'])

# 6. Mostrar o resultado
print(soma_mensal)


# 7. (Opcional) salvar em Excel
#soma_mensal.to_excel('soma_mensal_residuos.xlsx', index=False)
soma_mensal.to_csv(r"C:\Users\leti_\OneDrive\Documentos\python_env_app\outputs"+'/'+'MTR_Caridade.csv')

     ano    Residuo  Quantidade
0   2018  180103(*)        0.00
1   2018  180111(*)       17.85
2   2018  180205(*)        0.05
3   2018  180401(*)        0.17
4   2019  180103(*)        0.00
..   ...        ...         ...
62  2025  180201(*)        0.02
63  2025  180205(*)        0.00
64  2025  180401(*)        2.61
65  2025     GrupoB        0.03
66  2025     GrupoE        0.03

[67 rows x 3 columns]